{% extends "base.html" %}

{% block title %}Add a note{% endblock %}

{% block content %}
    
    <br>
    <br>
    <br>
    <div class="ui four column grid">
        <div class="two column row">
            <div class="column"></div>
        </div>
        <div class="column"><img class="ui circular medium image" src="/static/js.png"></div>
        <div class="column"><img class="ui circular medium image" src="/static/flask.png"></div>
        <div class="column"><img class="ui circular medium image" src="/static/jinja.jpg"></div>
        <div class="column"><img class="ui circular medium image" src="/static/semantic-ui.svg"></div>
    </div>
    <h2 style="text-align: center">This project was built with Python Flask, Jinja2, SegmentUI for styling and a bit of vanilla JavaScript.</h2>
    <h4 style="text-align: center"><a href="rafaelopez.com">Rafael Lopez</a> - Analytics and Development.</h4>

{% endblock %}