<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note-Taking App - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('notes')}}" class="logo">Home</a></li>
                <li><a href="{{ url_for('logout')}}">Sign Out</a></li>
                <li><a href="{{ url_for('profile')}}">Profile</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
            </ul>
        </nav>
        <br>
        {% block content %}
        {% endblock %}
    <script type=text/javascript src="{{url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>