{% extends "base.html" %}

{% block title %}NOtes Homepage{% endblock %}

{% block content %}

    <div class="ui two column centered grid">
        <div class="column"><div class="ui segment">
            <h2 class="ui left floated header"><i class="pencil alternate icon"></i>Note-Taking App</h2>
            <div class="ui clearing divider"></div>
            <h2>These are your current notes.</h2>
            <p>{{ date }} - <span id="clock"></span></p>
            <ol> 
                {% for note in notes %} 
                    <li>
                        <a href="{{ url_for('view_note', index=loop.index0) }}">{{note.title}}</a>
                    </li> 
                {% endfor %} 
            </ol> 
            <button class="ui button"><a href="{{ url_for('add_note') }}">Add a New Note</a></button>
        </div>
    </div>

{% endblock %}