{% extends "base.html" %}

{% block title %}Profile page{% endblock %}

{% block content %}

    <div class="ui centered link card">
        <a class="image" href="{{ url_for('notes')}}">
            <img src="/static/matthew.png">
        </a>
        <div class="content">
            <a class="header" href="{{ url_for('notes')}}">Hi {{ g.user.username }}!</a>
                <div class="meta">
                <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
           <a href="{{ url_for('notes')}}">Click to see your notes.</a>
        </div>
        </div>
        <div class="extra content">
        <a>
            <i class="user icon"></i>
            22 Friends
        </a>
        </div>
    </div>

{% endblock %}